.dados-sheet {
  display: flex;
}

.coluna-um {
  flex-direction: column;
  display: flex;
  border: 4px solid red;
  flex: 1;
}

.coluna-dois {
  border: 4px solid green;
  flex: 1;
}

.coluna-tres {
  border: 4px solid blue;
  flex: 1;
}

.atributo {
  border: 2px solid black;
  display: grid;
  justify-items: center;
}

.atributo > input {
  border-radius: 50%;
  text-align: center;
  width: 28px;
}

.skills-attr {
  border: 2px solid teal;
  flex: 3;
}

.proeficiencias-languages {
  border: 2px solid tan;
  min-height: 250px;
}

.linha-um {
  display: flex;
  /* flex-direction: column; */
}

.atributos {
  flex: 1;
}

